[2017-12-14 14:15] umaulana opened #1 "[Question] Is this package support carousel"
thanks for this package, really great works 👍

I just wondering if this package support carousel, I mean when I press in image, the modal will pop up and when I drag the image left or right, that image will change to another image. Is that possible
?

[2017-12-14 15:19] antonKalinin commented on #1
Hi @umaulana. Thanks!
About your question: not yet and I am afraid not in close future. There is https://github.com/ascoders/react-native-image-viewer component that works just as you described.
I am going to implement better scroll for scaled image and custom titles. And after that will think about gallery functions.

[2017-12-14 15:48] umaulana commented on #1
@antonKalinin thanks for your response. Please keep the great work, if I have the time, I will make help to this repo 👍

[2018-01-02 15:11] odeddoek opened #2 "Double tap to zoom"
Hey, thanks for this library, looks very promising!

Would be awesome if you can add double tap to zoom.

It seems in the code that there is support for double tap, but I couldn't get it to work [android], even with the example app

[2018-01-03 16:04] antonKalinin commented on #2
Hi, @odeddoek! I ve just checked the example on expo and iOS is working proppertly. I checked android next week, as soon as I arrive from small vocation and if it’s broken, I will immediately fix it. Thanks for issue! Also which version of package you have installed?

[2018-01-16 14:23] jack2684 opened #3 "Add an option to provide activity indicator component when loading the image?"
When the modal become visible, but the image is not shown yet, it is better to show an activity indicator.

This is an awesome library BTW :)

[2018-01-17 08:53] antonKalinin commented on #3
Done in version 1.2.4:
https://github.com/antonKalinin/react-native-image-view/releases/tag/v1.2.4

Thanks! I am closing this issue, if you find any bugs feel free to reopen.

[2018-01-17 08:53] #3 closed

[2018-01-18 05:58] bitshadow opened #4 "Couldn't find key toValue in dynamic object"
"react-native": "^0.49.3",
"react": "^16.0.0-beta.5",

<img width="301" alt="screen shot 2018-01-20 at 6 22 16 pm" src="https://user-images.githubusercontent.com/574802/35183874-e4c899a0-fe12-11e7-917f-063fb9322f9c.png">

[2018-01-18 09:51] ciriac commented on #1
@antonKalinin Great package!

It would be very nice indeed if we could pass an array of images as source.

[2018-01-18 12:49] antonKalinin commented on #4
Hi, @bitshadow Could you give me a little more information about error: when it occurs? with mounting a component with `ImageView` or when you try to open a modal? I have't faced with such error at a lot during the development. But I noticed that I developed this module on react-native v0.51 and maybe something have been change sing 0.49. Try to discover this issue today-tomorrow. Thanks.

[2018-01-18 12:53] antonKalinin commented on #1
@ciriac Hey, yes I thinking about that and hope can implement that soon.

[2018-01-18 13:30] bitshadow commented on #4
@antonKalinin

Error happens when interacting inside the modal.
This is what I did
1. Clicked on the Image.
2. After the first interaction in the modal it show the error.

[code]

[2018-01-19 09:27] bitshadow commented on #4
@antonKalinin Its only happening for Android. In iOS works fine.

[2018-01-20 12:43] antonKalinin commented on #4
@bitshadow Hi again, cant reproduce your problem: I noticed that you load an image from local assets and thought it creates a problem, but no. So trying to find same conditions as you have. Could you tell me if you run expo example from repo on your android will you get this error? Do you run on emulator or device?

[2018-01-20 13:20] bitshadow commented on #4
@antonKalinin I just ran the example side by side in Android emulator and I was able to reproduce it by removing `renderFooter` prop from `ImageView` in the example. Sample that I have provided above doesn't not have `renderFooter` which is causing the issue. Let me know if you need more help.

[2018-01-21 19:54] antonKalinin commented on #4
@bitshadow I removed `renderFooter` and run example on Nexus 5, everything seems okay. Maybe we have different versions of android? If you have android device, can you test expo example?

[2018-01-23 04:54] adamwan92 commented on #4
I am also having experiencing this error. @bitshadow What did you do to remedy this?

[2018-01-23 05:00] bitshadow commented on #4
@adamwan92 I added empty view in `renderFooter={() => <View />}` and it fixed it.

@antonKalinin I think if you try running the app without using expo (with `create-react-native-app`). You might be able to reproduce this issue. Let me know if you like to have a app for it. I can create one for you if needed.

[2018-01-23 08:17] bitshadow commented on #4
@antonKalinin I have created a repo which reproduces this issue. Let me know if that helps. (I think `title + renderFooter` props are the problems)
https://github.com/bitshadow/react-native-image-view-example

[2018-01-23 10:03] antonKalinin commented on #4
@bitshadow Thanks for example! I finally realised that I have title prop, so footer was rendering always. I fixed this issue by checking footer height: version [1.2.5] (https://github.com/antonKalinin/react-native-image-view/releases/tag/v1.2.5)

Closing this issue, fell free to reopen it if any problems occur.

[2018-01-23 10:03] #4 closed

[2018-02-23 21:38] Rafael2509 opened #5 "Works in landscape?"

[2018-02-25 11:39] antonKalinin commented on #5
Not yet. I am now working on v2, hope to support landscape there.

[2018-03-01 13:26] mfrknv commented on #1
It's really nice, will new features come?

[2018-03-01 14:41] antonKalinin commented on #1
@mfrknv Thanks, yes, I am currently working on carousel feature: https://twitter.com/antonkaa/status/968406787090239488

[2018-03-10 10:41] antonKalinin commented on #1
Hi!
Since version 2.0.0 `react-native-image-view` supports carousel.
Please notice that component API has changed: instead of prop `source` please use `images`.
More info in docs and [example](https://github.com/antonKalinin/react-native-image-view/blob/master/example/App.js)

Thanks!

[2018-03-10 10:41] #1 closed

[2018-03-11 11:55] Hunsu opened #7 "Default values for width and height"
In V1 we didn't need to specify a height and width of the image to show. In V2 it is specified but it doesn't work if don't specify one. I get the error:

    Error while updating property 'transform' of a view managed by: 'RTCImageView'

[2018-03-11 15:29] antonKalinin commented on #7
You are right and I am going to fix it in next minor release. Anyway I recommend to specify width and heigh to make rendering more smooth and without delay.

[2018-03-12 02:49] musicode commented on #7
i thick width and height is not required, i just have a url, i dont know its width and height.

if i want to know the info, i must to download the image.

if i download the image before image view, loading will never used.

[2018-03-14 07:48] quyentran-agilityio opened #9 "Double tap to zoom not working on Android"

[2018-03-14 20:38] antonKalinin commented on #7
Fixed in version 2.0.2

[2018-03-14 20:38] #7 closed

[2018-03-22 16:56] antonKalinin commented on #9
Hope it fixed) Thanks for issue, please check version 2.0.3.

[2018-03-22 16:56] #9 closed

[2018-04-03 15:08] co2nut opened #11 "iPhone X close button position"
Issue when using iPhone X, how to adjust the close button?

![screen shot 2018-04-03 at 11 07 29 pm](https://user-images.githubusercontent.com/4594000/38257939-db65cdb4-3793-11e8-8f35-663dd2574c6b.png)

[2018-04-05 09:45] ayessymkanov opened #12 "Crash after dragging image down (iOS)"
<img width="294" alt="screen shot 2018-04-05 at 3 43 51 pm" src="https://user-images.githubusercontent.com/6626483/38358867-4d0a3bd0-38e8-11e8-8fe6-ba314a7cb648.png">

[2018-04-09 09:30] riteshmahajan47 commented on #12
same issue

[2018-04-20 13:05] antonKalinin commented on #12
Sorry fo late response, a lot of stuff to do. Will look this weekend. Thanks for issue.

[2018-04-21 15:42] antonKalinin commented on #12
Hi @ayessymkanov, could you provide a little bit more info about the problem: version of react-native-image-view, any cases how to reproduce the crash?

[2018-04-21 15:45] ayessymkanov commented on #12
@antonKalinin, I used the latest version of the package. So, when I try to pull down the image to close it the app freezes causing the error shown in the picture above

[2018-05-14 18:53] dhanababum opened #13 "Can I pass android Image URI"
Right now I can see image view using http link, But I need to pass android Image URI. For example it show image view when the user selects image from Gallery. Is this working right now ?

[2018-05-15 19:50] antonKalinin commented on #13
@dhanababum It looks like you can pass all images in you gallery to `images` prop in format described in [docs](https://github.com/antonKalinin/react-native-image-view#usage) and when the user tap on image just pass image index to `ImageView` via setState like:

`this.setState({imageIndex: index, imageViewVisible: true})`

[2018-05-16 16:59] dhanababum commented on #13
Thanks for Instant reply,  I have tried with `content://` image path, But it doesn't work. Can please check from your end, is that working ?

[2018-05-17 08:13] louvegas opened #14 "Exception thrown while executing UI block: -[NSNull floatValue]: unrecognized selector sent to instance"
Hi,

Thanks for this great module !
I have this error :  Exception thrown while executing UI block: -[NSNull floatValue]: unrecognized selector sent to instance 0x112adefc0, when the image height is superior to the width.
Could you please help me ?

Regards,

Lou

[2018-05-18 08:19] dickerpulli opened #15 "Switching portrait to landscape mode (or vice versa) fails"
- I start my app in landscape mode
- the component containing the ImageView is mounted
- then I switch to portrait mode
- I open the ImageView
---> The overlay is displayed incorrectly
---> I think the ImageView stores the initial screen dimensions and doesn't recognize a later change of the dimensions due to a switch from portrait to landscape mode

[2018-05-18 09:32] antonKalinin commented on #15
@dickerpulli You are right, this place needs improvement. PRs are welcome) I hope I will have time this weekend to work around react-native-image-view

[2018-05-21 03:40] nool2eady opened #16 "Vertical image not supported?"
Time is a vertical image, moving around will cause an error.

[2018-06-06 14:40] nbastoWM commented on #12
I guess it fails for portrait pictures. Or pictures smaller than the viewport.

[2018-07-23 13:44] paulopacitti opened #18 "Apparently a width and height non determined issue"
![Issue](https://i.imgur.com/gxITpPI.png)
Here's my render function:
[code]

And my function that pack images in objects to set in `this.state` after :
[code]

[2018-07-27 08:07] vietnd87 opened #19 "Hide Panels some time not working & suggest more features."
Hi,

Thanks for your library, it is good library to use for show image in gallery, I have some suggestions, can you update it.

1.  If I am not in debug mode it show this error.
![screenshot_20180727-150413](https://user-images.githubusercontent.com/33480460/43309205-549a3c64-91ae-11e8-96d4-904f1f1f546c.png)

2. I can not tap to hide Panels (Header & Footers), I see the togglePanels in your code t

[2018-07-30 10:10] pkozhin opened #20 "Overlapped image in scaled state prevents normal image dragging"
Hello,

Test case:
1. Open example app https://exp.host/@community/image-gallery-example
2. Tap the top image (first in vertical list)
3. Swipe right very slowly to see a part of next image
4. Before releasing hold your finger to make make sure there is no velocity
5. Release you finger and observe that right image part still visible
![screenshot_20180730-123027](https://user-images.githubusercont

[2018-07-30 10:20] antonKalinin commented on #20
@pkozhin Hi and thanks for issue. PRs are welcome, so if you can offer your solution it will I will be glad to review and merge it.

[2018-07-30 10:21] antonKalinin commented on #18
@paulopacitti Thanks for issue, going to check and try to fix this case in 2 days.

[2018-08-06 16:51] Yogu opened #22 "types.js missing in 2.0.6"
Since version 2.0.6, the types have been moved to `types`, but this file is not published to npm (it's missing in `files` in the `package.json`).

[2018-08-07 06:56] MaximRikel opened #23 "Cannot read property 'scale' of undefined"
When I load images after rendering I get "Cannot read property 'scale' of undefined".

[2018-08-07 07:00] MaximRikel opened #24 "Getting your node_modules folder when installing with npm"
Getting your node_modules folder when installing with npm.

[2018-08-07 07:35] MaximRikel commented on #23
For some reason it started working.

[2018-08-07 07:37] antonKalinin commented on #24
Sorry for that, after big refactoring found a lot of small troubles. Remove react & react-native from deps as they are peer deps. See v2.0.8. Thanks for issue.

[2018-08-07 07:37] #24 closed

[2018-08-07 07:50] MaximRikel commented on #23
I tested and now I understand the bug.
I can't render ImageView with the initial image being null.
Which means that I need to create some dummy image for it to work.
This will not work:

const DEFAULT_STATE: any = {
    item: null,
    key: 0,
    isImageViewVisible: false
}

[2018-08-07 08:24] MaximRikel commented on #23
When I replace the image in reducer the ImageView still shows me the dummy image.

render()
  {
    return (
        <ImageView images={[this.props.item]}
                  imageIndex={0}
                  animationType='fade'
                  isVisible={this.props.isImageViewVisible}/>
    );
  }

[2018-08-08 09:30] MaximRikel commented on #23
The problem is that you take the 'images' from state instead of props.

[2018-08-08 10:19] apacicaps opened #25 "White as background color in modal"
Is it possible to be able to change the background color of the modal from black to white?
I'm working with png drawings that have transparent backgrounds and only black lines and therefor "disappears" in the black modal.

[2018-08-08 10:26] antonKalinin commented on #23
Thanks for issue, let me investigate it. The problem is that in this version there are a lot of logic happens when component receive new images. I think you right and maybe it is not necessary to store images in state, but I need some free time to test it all. Or you can send PR :)

[2018-08-08 10:29] antonKalinin commented on #25
Unfortunately there is no such option now, but I think it is not really big problem to add it. Will try to do it this weekend.

[2018-08-08 11:02] apacicaps commented on #25
That sounds great - I really appreciate it!

[2018-08-09 03:34] MaximRikel commented on #23
Sorry, don't have the time.

[2018-08-13 08:53] antonKalinin commented on #25
Done in version **2.0.9**
Close this issue. Thanks.

[2018-08-13 08:53] #25 closed

[2018-08-18 17:04] iesteban opened #26 "Unexpected token '*' on any version after 2.0.4"
After upgrading to the latest version I'm getting the following error:
![selection_042](https://user-images.githubusercontent.com/1064224/44301555-46ac3180-a319-11e8-972a-57da169a0161.png)

When I run it in debugger mode, It works perfectly.

When I run in a release version, it just closes  right away.

I'm using these react versions:
"react": "^16.3.1",
"react-native": "^0.55.4",

I'm developing

[2018-08-18 20:53] antonKalinin commented on #26
Hi and thanks for issue! Could you try version 2.0.10? Hope it could fix it :)

[2018-08-19 09:35] iesteban commented on #26
It's fixed. Thank you so much!!!

[2018-08-19 10:03] #26 closed

[2018-08-24 11:54] vorasudh commented on #23
Any progress with this issue?

[2018-08-26 03:34] MaximRikel commented on #23
If you want to fix it yourself, you just need to take the images in render() from props instead of state.

[2018-08-26 22:34] Samuelote opened #27 "Modal freezes when swiping down or up at an angle."
My environment:
-iPhone 8
-react-native-cli: 2.0.1
-react-native: 0.52.0
-react-native-image-view: 2.0.10

When I slide down or up at an angle it sometimes freezes the modal. I think it get's confused as if you are trying to close out of the modal or if you are trying to swipe to the next image. It freezes until you hit the 'X' in the upper right-hand corner.

My Usage:
        <ImageView

[2018-09-05 20:05] #23 closed

[2018-09-05 20:28] antonKalinin commented on #27
Faced with the same, try to fix in several days

[2018-09-05 20:32] antonKalinin commented on #16
Hi, please check the latest version 2.0.11 or expo example https://expo.io/@antonkalinin/react-native-image-view

[2018-09-05 20:33] antonKalinin commented on #11
Should be better now

[2018-09-05 20:33] #11 closed

[2018-09-06 08:02] fuj1w4r4 opened #28 "Android backpress button to close imageView?"
Hi there,

Good day. It seems press on backpress button android not closing the ImageView.
I am proposing to add this feature.

Thanks and regards,
Fuji

[2018-09-12 14:58] ZakZubair opened #29 "Close button is too close to the Status Bar on iPhoneX"

[2018-09-13 11:29] lloydjohnlandeza commented on #27
Having the same problem as well. Is there anyway to disabled the slide up/down to close functionality?

[2018-10-10 08:18] fuj1w4r4 commented on #28
Hi, is there any update? anyone?

[2018-10-10 14:35] antonKalinin commented on #28
Hey @fuj1w4r4, sorry for not responding. Will try to fix today.

[2018-10-10 20:00] antonKalinin commented on #28
Fixed in version 2.0.12

[2018-10-10 20:00] #28 closed

[2018-10-11 19:09] fuj1w4r4 commented on #28
@antonKalinin hey, much appreciated! this API works great!

[2018-11-09 09:04] JegatheeshSelvam opened #30 "Next and previous options"

[2018-11-14 13:47] jeyakumarsbe opened #31 "How to enable previous and next buttons"
Hi,

Is there any options to enable Next and Previous buttons on zoom image?

I have 4 images and i can able to view previous next and images using swipe option. But i required to place buttons for view previous and next images.

If this options is already there please tell me how can i enable it.

Thanks,
Jayakumar

[2018-11-14 21:03] antonKalinin commented on #31
Hi, @jeyakumarsbe, thanks for issue. There is no next or prev buttons now in this module, but I think I can extend API and add it. Hope I have enough time this weekend to do it and fix also some old bugs.

[2018-11-15 05:10] jeyakumarsbe commented on #31
Hi antonKalinin,

Thank you for your quick reply. I eagerly waiting for this features and It's really helpful for my App.

Thanks,
Jayakumar

[2018-11-19 22:42] antonKalinin commented on #30
@JegatheeshSelvam Done in 2.1.0, please see README. Closing this one.

[2018-11-19 22:42] #30 closed

[2018-11-19 22:42] antonKalinin commented on #31
@jeyakumarsbe Done in 2.1.0, please see README. Closing this one.

[2018-11-19 22:42] #31 closed

[2018-11-19 22:43] antonKalinin commented on #27
Partially fixed in 2.1.0 Its probably need to rethink all logic to make it work correct. Going to do it in a week.

[2018-11-19 22:44] #5 closed

[2018-11-20 06:34] jeyakumarsbe commented on #31
Also one more thing if i zooming the image then the prev and next buttons were disappeared. We wanted to show this buttons always.

[2018-11-20 09:32] antonKalinin commented on #31
Hi @jeyakumarsbe, thanks for issue and sorry for bad testing :) Should be fixed now in 2.1.1.

[2018-11-20 10:07] jeyakumarsbe commented on #31
Hi antonKalinin,

Thanks for your quick reply and i will be waiting for 2.1.1 release :)

Thanks,
Jayakumar

[2018-11-20 10:47] jeyakumarsbe commented on #31
Hi @antonKalinin, This is fixed and it's working fine. Thanks again.

[2018-11-23 13:56] mvg1984 opened #32 "VirtualizedList: You have a large list that is slow to update - make sure your renderItem function renders components that follow React performance best practices like PureComponent, shouldComponentUpdate, etc."
Hi.

I have 12 images in the object, and when i swipe image down or up some time a got that message:

`[16:53:20] VirtualizedList: You have a large list that is slow to update - make sure your renderItem function renders components that follow React performance best practices like PureComponent, shouldComponentUpdate, etc. Object {
[16:53:20]   "contentLength": 4937.14306640625,
[16:53:20]   "dt":

[2018-11-26 12:54] furlanrapha opened #33 "Modal background opacity to be customized?"
Hello, I was able to set the modal background color to white but I wanted to be able to set it to be opaque too. Is that possible? I was checking for opacity options but didn't find any.

[2018-11-27 07:52] JegatheeshSelvam opened #34 "Can i disable Up & Down Drag to close functional?"
![drag_down](https://user-images.githubusercontent.com/6906775/49066516-5c4dc300-f247-11e8-934f-52457a657c88.png)
![drag_up](https://user-images.githubusercontent.com/6906775/49066517-5ce65980-f247-11e8-99c0-5902e527a30f.png)

Hey Hi,
          Please give me a solution for my above screenshot, I would like to disable the drag up or drag down to close the image view functionality. I want to close

[2018-11-27 14:54] davidbiller opened #35 "supportedOrientations"
PLS add supportedOrientations to Modal to support Orientation Changes.

[2018-11-27 15:40] antonKalinin commented on #33
Hey @furlanrapha! Unfortunately it's not possible now. Could you please describe what you want to achieve in details?

[2018-11-27 15:43] antonKalinin commented on #34
Hey @JegatheeshSelvam, there is no prop now to disable this functionality. Looks like it's not hard to implement it. Let me see, I hope I can do it this weekend.

[2018-11-27 15:44] antonKalinin commented on #35
Hey @davidbiller, thanks for issue, good point. I will try to do it this weekend or earlier.

[2018-11-27 16:33] furlanrapha commented on #33
I wanted the modal to be fully white in the background (without opacity).

I was able to set it to be white but I can see the screen from the background when opening the Image View.

[2018-12-02 18:58] #35 closed

[2018-12-08 18:21] davidbiller commented on #16
you cant work with %

[2018-12-08 19:10] davidbiller opened #36 "Jumps on first press"
i fixed your onGestureMove

i added `const justPressed = Math.abs(dy) < PRESS_TOLLERANCE;
            justPressed ? null : this.imageTranslateValue.y.setValue(y + dy)`

`onGestureMove(event: NativeEventType, gestureState: GestureState) {
        if (this.isScrolling && this.state.scrollEnabled) {
            return;
        }

        if (this.currentTouchesNum === 1 && event.touches.length === 2)

[2018-12-18 06:10] emmx commented on #34
Any update on this?

It's really difficult to swipe left or right (to change the image) with this up and down funcionality enabled. Dragging by starting on the image itself won't work in most of the cases, only dragging from the modal (if you're lucky and the image is not covering it completely) would work consistently.

Also being able to disable the zoom would be great. We need these two flags.

[2018-12-18 06:15] emmx opened #38 "Listener on image change?"
Is there a way to run a function every time the image is changed? It should receive the index of the new image.

[2018-12-18 06:18] emmx opened #39 "Orientation change causes ActivityIndicator to appear"
Changing the orientation of the phone causes the image to rotate but there's a never hidding ActivityIndicator on top of it, in the center of the screen.

[2018-12-18 06:31] emmx opened #40 "Pool hard cap violation?"
During normal use after opening a few images I'm getting this error:

[code]

From that point on no other image is shown except for the ones I previously opened. Looks like it runs out of memory or something like that?

[2018-12-18 06:32] emmx opened #41 "Infinite Looping"
Is there any plan to support looping in the future? Adding a flag with that would be awesome.

[2019-01-03 04:56] adrianmrit opened #42 "bug: will open again after closed and any other button pressed"
After clossing the view by pressing the close button any other onPress event will open the view again. If closed using the back button it won't happen.

Tested in android

Fixed by using:
onClose={() => this.setState({isImageViewVisible: false})}

[2019-01-03 05:19] adrianmrit opened #43 "Scroll not available when touching the image"
Can only scroll if I touch the area around the image. This is a problem specially for vertical images

[2019-01-21 05:14] rohit75 commented on #29
Facing same issue, not able to click on some devices

[2019-01-21 19:12] tslmihai commented on #43
It it happens to me, too. Did you find any solution for this ?

[2019-01-31 12:47] sharoneh commented on #36
What's the value of the PRESS_TOLERANCE constant? Thanks for this, by the way!

[2019-02-12 00:16] samuelecipriani commented on #43
i've added

onShouldBlockNativeResponder: (event, gestureState) => false,

on the PanResponder.create({
...
})

located in src/utils.js

now it works fine

[2019-02-13 10:34] antonKalinin commented on #43
@samuelecipriani thanks. Let me check it today/tomorrow and if everything is fine publish new version

[2019-02-14 05:12] kartavyaparekh96 commented on #40
same Problem

[2019-02-24 09:38] vorasudh commented on #34
@antonKalinin  Were you able to work on this?

[2019-02-24 18:04] antonKalinin commented on #34
Hey guys, sorry for no updates for this module :(
If you still using it please find 3 new props `isSwipeCloseEnabled`, `isTapZoomEnabled`, `isPinchZoomEnabled` in version 2.1.3.

[2019-02-24 18:08] #34 closed

[2019-02-25 11:13] damisadam commented on #38
How to get the index of the current image?

[2019-02-26 04:37] emmx commented on #40
Any update on this?

[2019-02-28 12:28] kkkkkt opened #44 "Add longpress and double tap feature"
I think it looks nice to support longpress and double tap feature.

[2019-03-02 23:13] hamedhemmati opened #46 "viewer without modal"
Can the image viewer be called without modal? I would like to use it as a slideshow inside a view.

[2019-03-05 12:29] JegatheeshSelvam opened #47 "Close Icon moves up & hide on pressing the image"
![one](https://user-images.githubusercontent.com/6906775/53805250-a98caf80-3f6f-11e9-8030-33b119405ae0.png)
![two](https://user-images.githubusercontent.com/6906775/53805251-a98caf80-3f6f-11e9-8691-0b3699e222e3.png)

Hey hi,
          Is there any functionality to disable "CLOSE ICON" moves to top & disappear when we click/press over the image. Again it drop-down when we click/press the image agai

[2019-03-05 13:05] JegatheeshSelvam opened #48 "Infinite Loop for Image Slider"
![three](https://user-images.githubusercontent.com/6906775/53807191-f1620580-3f74-11e9-9ef8-3bce36b3e10e.png)

Hey hi,

         Can you provide us Infinite looping of images while we slide through the image slider. Right now when we move to the last image the right arrow hide and again we have to come to my first image by clicking on left arrow vice versa.

[2019-03-07 13:35] abdulrahman18 commented on #28
I tried close button and android back button. But it's not working. How can I close image view?

[2019-03-12 03:30] doanthanh2310 opened #49 "Function backdrop press"
Is there any way to close ImageView when press on backdrop. Please, add this function

[2019-04-03 15:49] abdulrahman18 commented on #31
Still I have this issue. I have the latest code only. But can't add the controls . Can you help me @jeyakumarsbe

![Screenshot 2019-04-03 at 9 17 43 PM](https://user-images.githubusercontent.com/31540549/55493159-13bf6f80-5656-11e9-8754-eb47921b8d13.png)

[2019-04-10 05:06] ping90750 opened #50 "react-native-image-view can't zoom"
for android can't zoom out

[2019-04-16 08:46] jeyakumarsbe commented on #31
@abdulrahman18, use like this controls={{ next: true, prev: true }}

[2019-05-28 16:41] jacquesdev commented on #50
Hi @ping90750 - have you found a fix for this?

[2019-06-02 04:37] Cigarent commented on #38
Made a PR for the onChange, have been using it myself. Feel free to try it out and verify

[2019-06-02 12:24] arabbott commented on #50
I have similar issues...pinch to zoom has issues...but I dont think its anything associated with this lib. I think its related to this: https://github.com/facebook/react-native/issues/15059

[2019-06-04 09:21] #38 closed

[2019-06-08 11:25] antonKalinin commented on #38
Available in 2.1.5

[2019-06-13 03:16] conglin890 commented on #29
fixed in this

https://github.com/antonKalinin/react-native-image-view/pull/53

[2019-06-19 14:55] joshua-s commented on #50
I am using this package with Expo on an Amazon Fire Tablet. Pinch to zoom nearly always glitches for me. It seems to get stuck when zooming in and one cannot zoom back out. Also, scrolling around the image while zoomed is very jumpy.

[2019-06-21 07:32] seraco commented on #50
Zoom also doesn't work here.

[2019-06-27 20:55] magestein commented on #50
same problem here

[2019-07-16 11:12] GlmMak commented on #29
same issue

[2019-07-19 06:11] akhan118 commented on #50
yeah same here, I had to uninstall .

[2019-07-20 15:55] enri90 opened #54 "Warning: componentWillReceiveProps is deprecated"
Warning: componentWillReceiveProps is deprecated and will be removed in the next major version. Use static getDerivedStateFromProps instead.

Please update the following components: ImageView

Learn more about this warning here:
https://fb.me/react-async-component-lifecycle-hooks

help

[2019-07-25 22:34] jhoanborges commented on #50
same problem

[2019-07-31 09:17] hemith commented on #50
- v2.1.5
- long image (720 x 6000)

zoom doesn't work on background area
zoom work on image area

When I get background area only by zoom-in
I can't zoom-out.
because zoom doesn't work on background area.

[2019-08-06 09:09] 2xSamurai commented on #54
Anyone working on this issue. I have also got the same problem.

[2019-08-19 15:10] VictorAtPL opened #55 "Integration with react-native-cached-image"
Hi,

I'd like to know if anyone possibly integrated this module with https://github.com/kfiroo/react-native-cached-image?

[2019-08-20 16:50] MaximusBaton opened #56 "The swipe function is fine, but pinch zoom is very unstable."

[2019-09-04 12:23] srhtylmz19 commented on #35
any update ? , when orientation changed to 'right' or 'left' up and down slide change the image :/

[2019-09-07 03:32] zhonggithub commented on #29
same issue

[2019-09-13 12:06] kantorv commented on #54
same here

[2019-09-23 09:59] jeffraux commented on #54
Submitted a pull request for this issue. See PR #57. Used `componentDidUpdate` instead of `componentWillReceiveProps`

[2019-09-23 19:41] antonKalinin commented on #54
Fixed in v2.1.6 (thanks to @jeffraux)

[2019-09-23 19:41] #54 closed

[2019-10-04 21:42] djschilling commented on #29
I have the same issue and it would be nice to get https://github.com/antonKalinin/react-native-image-view/pull/53 merged.

[2019-10-13 11:14] #29 closed

[2019-10-15 17:04] rodionovich221 opened #60 "Zoom issue when height is bigger than width"
First of all, Thanks for the great work! - Really appreciate it!
I have an issue with zooming image

### **Issue**
If the width is bigger than the height, it's working fine.
But if the width is smaller than the height, zooming does not work properly.

### **Expected Behavior**
Zoomed image should locate in the centher of the screen.

### **Actual Behavior**
Zoomed image is automattically going upp

[2019-10-17 19:54] #39 closed

[2019-10-18 16:22] zoozalp opened #61 "loading spinner stopped working"
Loading spinner was working fine in the previous release 2.1.6 but broken in 2.1.7 for some reason.

[2019-10-21 12:42] antonKalinin commented on #61
Thanks for issue and sorry for that. Rolled back changes in v. 2.1.8

[2019-10-21 12:42] #61 closed

[2019-11-09 22:26] vedmant commented on #56
Yes, I have the same issue on android, it just doesn't work properly, it zooms in when I try to zoom out. Also expo example crashes often.

[2019-11-14 10:53] Naishadh8115 commented on #56
i am also having same issue, very unstable zoom in and zoom out.

[2019-11-17 15:21] saidhappy010 opened #62 "how could we display the complete images when we click on them?"
I would like to display the complete images when I click on them
Please, how can we do it
please

[2019-11-20 05:53] nirajniroula commented on #50
Didn't work for me.

[2019-11-20 06:00] nirajniroula commented on #50
Any solutions found for this problem? Zoom feature is not working well. Works well when I zoom in and out without removing my fingers. Trying to zoom in and removing the fingers, and again trying to zoom out leads further to zoom in.

[2019-11-25 05:37] nirajniroula commented on #50
Adding the props **glideAlways={false}** worked out for me.

[2019-12-02 11:14] rafaelfaria commented on #33
+1

[2019-12-07 07:02] V1sk commented on #56
same issue here

[2019-12-18 06:37] akiladevinda opened #63 "How to render only one image"
How to render only selected 1 image with this. Not array ?

[2019-12-27 14:56] antonKalinin commented on #50
Hey guys and sorry for long time not responding.

This repo has been abandoned a little bit but I have a good news: in my current company we needed the same functionality that this module provides so we completely rewrote it and make a lot of improvements. So there should be **no more jumpy scrolling** and finally **zoom on Android works**  as expected! We also have **optimised module it terms of

[2019-12-27 15:05] antonKalinin commented on #27
Hey guys and sorry for long time not responding.

This repo has been abandoned a little bit but I have a good news: in my current company we needed the same functionality that this module provides so we completely rewrote it and made a lot of improvements. So there should be no more jumpy scrolling and finally zoom on Android works as expected! We also have optimised module it terms of performance

[2019-12-27 20:46] antonKalinin commented on #63
Hey @akiladevinda can you just put an array with one element?

[2020-01-07 01:20] OlaAde commented on #56
Same issue here. Zooms in when I try to zoom out

[2020-01-07 09:42] antonKalinin commented on #56
Hey @OlaAde, could you please check the remastered clone of this package: https://github.com/jobtoday/react-native-image-viewing. It has almost the same API and the zoom functionality should be fine there. I planing to transfer the package name and release react-native-image-view v3.0 in near future, but for now you can use https://github.com/jobtoday/react-native-image-viewing

[2020-01-08 05:42] sensoft2207 commented on #60
I also face this issue RN v 0.60.4. Any solution?

[2020-01-08 08:15] antonKalinin commented on #60
@sensoft2207 for now the fastest solution is to use https://github.com/jobtoday/react-native-image-viewing which is completely remastered version of this package. I am going to replace this package with https://github.com/jobtoday/react-native-image-viewing as version 3.0 in several days.

[2020-01-10 21:46] alexandreaugus opened #66 "Endless loading spinner"
Hi, I am trying to use the package but whenever I open the viewer, even after all images have been loaded, the loading spinner keeps on.
<img width="384" alt="Screen Shot 2020-01-10 at 18 45 49" src="https://user-images.githubusercontent.com/58692612/72188634-8c1f4200-33d9-11ea-87e9-2d2af99bb3d5.png">

[2020-01-13 03:10] GabrielNexT opened #67 "Image does not load"
Hello!
Thanks for the repository, it is amazing and will greatly help my project.

In my code I try to load some images with some links, to do that I create a vector with the objects. With the following code:
[code]

However, when I open the image, the screen goes black.
I really don't know why, maybe the error is quite simple and I didn't detect it.

Ps: When I use the example codes, ie with a pr

[2020-01-13 10:27] antonKalinin commented on #67
Hi @GabrielNexT, thanks for using the package.

First, could you please share a complete code sample via https://gist.github.com/
Second, I would recommend to try https://github.com/jobtoday/react-native-image-viewing as an improved and optimised version of this package

[2020-01-13 22:52] GabrielNexT commented on #67
Ok, I will start using the new version.
[Gist](https://gist.github.com/GabrielNexT/50189fc39b8652dd6a73d02c67a340f3)

[2020-02-19 13:10] bharanidharshiva opened #68 "onClose is not working properly, after onClose={() => this.setState({ isImageViewVisible: false })} image not closing the modal"

[2020-02-22 23:34] pburdynski commented on #32
I have exactly the same problem. 8 images and error:

[2020-02-24 11:21] MacrazdHao opened #69 "renderFooter can not display"
Im copy the demo of your docs like that:
[code]

the renderFooter can not display, though the component is working.

how can i fix this problem? It's that i used it in a wrong way?

[2020-02-24 11:28] MacrazdHao commented on #69
oh i fixed it!!
we need to set a style for the renderFooter Component, then it showed up!

[2020-02-24 11:29] #69 closed, assigned to nobody

[2020-02-24 13:29] Triyugi opened #70 "Position fixed to top"
When zooming in and then zooming out and then swiping, the image position is fixed to top.

[2020-02-24 21:34] antonKalinin commented on #69
Hey @MacrazdHao I glad you found solution!
I also would recommend to try [react-native-image-viewing](https://github.com/jobtoday/react-native-image-viewing), the better supported and newer version of this packages.

[2020-04-01 03:59] JonhnyDev opened #72 "Ended a touch event which was not counted in `trackedTouchCount`."
Hello, how are you? everything works perfectly whenever I zoom with two fingers and move it a bit on the screen this error related to touch on android appears, searching the internet I saw that it is an error when using 2 or 3 fingers on touch it causes this error ... is there a way to fix this that is not messing with the native code in the react?

used: expo,

[2020-04-01 16:13] RediaUa commented on #55
+1

[2020-04-26 17:50] hjhimanshu01 opened #73 "useNativeDriver Warning"
Hey there, I'm getting this warning `Animated: useNativeDriver was not specified. This is a required option and must be explicitly set to true or false ` , I'm not sure what this relates to ?

[2020-05-20 21:26] alfayez91 opened #74 "android render image issue"
I have an issue that images are reversed in android, any solution

"react-native": "0.61.4"
"react-native-image-view": "^2.1.9"

here is the list of images
`
<FlatList
     contentContainerStyle={styles.content}
     data={imagesArrayTest.slice()}
     keyExtractor={(item) => item.id}
     numColumns={3}
     renderItem={({ item, index }) => {
     return (
          <TouchableOpacity

[2020-06-04 22:01] #67 closed

[2020-06-11 11:24] kalyanijamunkar10 opened #75 "Wrong image show when orientation changes"
@antonKalinin It shows wrong images when Orientation changes while image is open in react-native-image-view. this issue is in android and ios also

[2020-06-11 11:54] kalyanijamunkar10 commented on #35
same issue, any luck on this?

[2020-07-08 13:54] abdi4 commented on #73
Same here. I’m getting that everytime i open or close an image?

[2020-07-08 18:44] abdi4 commented on #73
I found a temporary solution. Go to node_modules/react-native-image-view/src/ImageView.js and add `useNativeDriver: true` to everywhere you see Animated.timing. This is an example
![Screenshot 2020-07-08 at 19 43 50](https://user-images.githubusercontent.com/43745412/86957951-5b834f80-c153-11ea-9065-695472957184.png)

[2020-08-31 18:42] meikbolender commented on #73
then i getError: Style property 'backgroundColor' is not supported by native animated module

[2020-09-01 15:16] abdi4 commented on #73
Instead of using animatedBackgroundColor on line 778 i’m using my own colour
![Screenshot 2020-09-01 at 16 14 01](https://user-images.githubusercontent.com/43745412/91870092-87601480-ec6e-11ea-8ec1-ff0965138161.png)

[2020-10-06 08:02] adamMebarki opened #79 "Loading each time an image is opened on iOS"
"react-native": "0.59.10",
"react-native-image-view": "^2.1.9",
"react-native-fast-image": "5.4.2",

On iOS, when I open an image with the module, there is always a pre-loading before the image is showing.
On Android, it does not do that.
The project also uses `react-native-fast-image` to display instead of React Component
`Image` from `react-native`.

Is there a solution to prevent the loading of

[2020-11-06 10:08] ThukuWakogi commented on #22
Typescript not yet supported

[2020-11-20 07:47] AndriesJacobus commented on #73
Also getting this issue. @antonKalinin please fix

[2020-12-17 13:31] grkemtneri commented on #73
you can use https://github.com/jobtoday/react-native-image-viewing @AndriesJacobus

[2021-01-29 17:20] Rutvik17 opened #82 "Update animation to include useNativeDriver Property"
As per the latest react native versions using `Animated.spring,` `Animated.timing` should include `useNativeDriver` field to be true or false set,
Please add that to get rid of the warning created by react native,
backend.js:32 Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`

[2021-08-20 12:48] antoniorrm opened #87 "Expo-web support?"

[2021-09-10 12:48] dlwlrma00 commented on #82
where should i put it ?

[2021-09-10 20:04] AsABarranco opened #88 "Android back button does not work to exit the viewed image"
I can't leave a view without having to click the close button (I would like to go back with the android's back button)

[2021-09-16 18:37] TatianaMatumoto commented on #88
I have the same problem.

[2021-09-28 12:11] TatianaMatumoto commented on #28
I tried to close with Android back button today and is not working :(

[2022-03-29 14:11] kuji2336 opened #90 "Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`"
React-Native: "0.64.3"
Expo: "~44.0.0",
"Expo-Cli": "^5.0.3",

When I open the **ImageView** component, in console I can see:
`Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to 'true' or 'false'` this kind of warning, I encounter this problem on both Android and iOS devices.

![image](https://user-images.githubusercontent.com/58769030/160630987-

[2022-03-29 14:13] sina3p2p commented on #90
I have same warning

[2022-04-26 02:05] tingxiao88 commented on #90
I also encountered the same

[2022-11-09 18:54] jailsonpaca opened #95 "added support for new reanimated version"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-image-view@2.1.9` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-11-11 13:53] DSKonstantin commented on #90
Any updates?